<div class="final-container">
    <h2>Resumen de tus datos:</h2>

    <p><strong>Identificación:</strong> {{ data.identificacion }}</p>
    <p><strong>Tipo de Servicio:</strong> {{ data.tipoServicio }}</p>
    <p><strong>Peso:</strong> {{ data.peso }} kg</p>
    <p><strong>Estatura:</strong> {{ data.estatura }} m</p>
    <p><strong>Temperatura:</strong> {{ data.temperatura }} °C</p>
    <p><strong>Signos Vitales:</strong> {{ data.signosVitales }}</p>

    <h2>Gracias, ahora puedes tomar asiento. En breve uno de nuestros profesionales te atenderá por teleconsulta.</h2>
</div>