// Variables
$primary-color: #007bff;
$primary-hover-color: #0056b3;
$font-family: 'Arial, sans-serif';
$button-padding: 15px 30px;
$font-size-large: 18px;

// Estilos globales
html, body {
  height: 100%;
  margin: 0;
  font-family: $font-family;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2, p {
  text-align: center;
}

// Botones reutilizables
button {
  padding: $button-padding;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  
  &:hover {
    background-color: $primary-hover-color;
  }
}

// Contenedor flexible
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


/**
-----------------------------------------------------------------------------------
Home Styles
-----------------------------------------------------------------------------------
**/

.logo{
  background-color: #80a9d7;
  width: 13.5vw;
  height: 13.5vw;
  text-align: center;
  align-content: center;
  border-radius: 50%;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15vh;
}

.sidebar-box{
  width: 30vw;
  text-transform: uppercase;
}

.sidebar-box select{
  display:block;
  padding: 15px 10px;
  height:auto;
  width: 100%;
  border-radius: 0;
  background-color: #80a9d7;
  border: 0;
  color: white;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
  /* background-color: #ffffff; */

  select {
    appearance: none;  // Quitar el estilo por defecto del select en algunos navegadores
  }
}

.simple-container{
  background-color: #80a9d7;
  width: 100%;
  height: auto;
  border: 0px;
  padding: 15px 0px;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.selector-container{
  overflow: hidden; 
  height: auto;
} 

.btn-next{
  background-color: #297ec4;
  width: 100%;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}
