<div class="home-container">
    <div class="logo">
        <img src="assets/logo.png" alt="Logo" class="logo"/>
    </div>

    <div class="sidebar-box">
        <h2 class="simple-container">Selecciona el tipo de servicio</h2>

        <div class="selector-container">
            <select>
                <option value="" disabled selected>Elige una opción</option>
                <option value="EPS">EPS</option>
                <option value="Particular">Particular</option>
                <option value="IPS">IPS Externa</option>
            </select>
        </div>
        
        <button (click)="goToIdentificacion()" class="btn-next"><b>Siguiente</b></button>
    </div>

</div>