<div class="home-container">
    <div class="logo">
        <img src="assets/logo.png" alt="Logo" />
    </div>

    <h2>Selecciona el tipo de servicio</h2>

    <div class="identificacion-selector">
        <select>
            <option value="" disabled selected>Elige una opción</option>
            <option value="EPS">EPS</option>
            <option value="Particular">Particular</option>
            <option value="IPS">IPS Externa</option>
        </select>
    </div>

    <button (click)="goToIdentificacion()">Siguiente</button>
</div>